<app-header></app-header>
<!-- <app-loading-spin *ngIf="isProceess"></app-loading-spin> -->
<div class="page-title">
    <h1>Order List</h1>
</div>

<div class="inner-middle-content">
    <div class="dashboard-wrapper-sec">
        <div class="table-search">
            <input type="text" class="form-control ms-auto mb-3" name="name" id="name" placeholder="Search here"
                required="" [(ngModel)]="term" />
        </div>

        <div class="dasboard-table">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Order ID</th>
                            <th>Customer Name</th>
                            <th>Contact No.</th>
                            <th>Assigned to</th>
                            <th>Order Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="
                                let i of data
                                    | customFilter : term
                                    | paginate
                                        : {
                                              itemsPerPage: tableSize,
                                              currentPage: page,
                                              totalItems: count
                                          };
                                let ind = index
                            ">
                            <td>{{ calculateIndex(page, ind) }}</td>
                            <td>{{ i.id }}</td>
                            <td>{{ i.customerName }}</td>
                            <td>{{ i.contactNo }}</td>
                            <td>{{ i.assignedTo }}</td>
                            <td>{{ i.orderDate | date : "dd-MM-yyyy" }}</td>

                            <td>
                                <span class="order-status" [ngClass]="{
                                        'bg-warning': i.status === 'Pending',
                                        'bg-success': i.status === 'Delivered'
                                    }">
                                    {{ i.status }}
                                </span>
                            </td>

                            <td>
                                <a [routerLink]="['order-detail', i.id]"><i class="las la-eye"></i></a>
                                <a *ngIf="i.status === 'Pending'" (click)="onEdit(i)"><i class="las la-edit"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="data.length === 0" class="text-center">
                    <Strong class="text-danger">No records found</Strong>
                </div>
                <div class="text-center" *ngIf="
                        (data | customFilter : term).length === 0 &&
                        data.length > 0
                    ">
                    <Strong class="text-danger"> No results found.</Strong>
                </div>
            </div>
        </div>

        <div class="clearfix">
            <ul class="pagination">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </ul>
        </div>
    </div>
</div>
